/* #main {
    margin-top: 40px;
}
*/


.container_fluid {
    margin-top: 40px;
}

h2 {
    color: #ECDFDF;
    text-shadow: 2px 3px #5C4D4D;
}

.list-group-item {
    font-family: Georgia, 'Times New Roman', Times, serif;
}